<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body style="background-color:#333;">

  <div class="nav-side-menu d-block d-sm-none">
    <div class="brand"><h1 style="color:#bd000d;">FitRecps</h1></div>
    <i class="fa fa-bars fa-2x toggle-btn navbar-toggler pb-4" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <i class="fa fa-dashboard fa-lg ml-3"> Homepage</i> 
                </li>
  
                <li data-toggle="collapse"  class="collapsed">
                  <i class="fa fa-globe fa-lg ml-3" style="color:white;"><%= link_to "ricette ", recipes_path %></i> 
                </li>  
           
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <i class="fa fa-car fa-lg ml-3"><%= link_to "Schede", cards_path %></i>  
                </li>
              
                 <li>    
                   <li data-toggle="collapse" data-target="#service" id="Profilo" class="collapsed">
                <i class="fa fa-globe fa-lg ml-3" id="Profilo">  Profilo</i>
                 
                <ul class="sub-menu collapse" id="service" style="list-style-type: none;">
                  <li style="list-style: none;"><%= link_to( "Le mie Schede",profiles_mycards_path)  %></li>
                  <li style="list-style: none;"><%= link_to( "Le mie Ricette",profiles_myrecipes_path)  %></li>
                  <li style="list-style: none;"><%= link_to( "Analisi schede",profiles_analisi_cards_path)  %></li>
                  <li style="list-style: none;"><%= link_to( "Analisi ricette",profiles_analisi_recipes_path)  %></li>
                  <li style="list-style: none;"><%= link_to( "Modifica profilo",profiles_myprofile_path)  %></li>
                </ul>
                </li>
                  <% if current_user && current_user.admin %> 
                    <li data-toggle="collapse" data-target="#service2" class="collapsed">
                      <i class="fa fa-globe fa-lg ml-3">  Gestione Iscritti</i>
                 
                     <ul class="sub-menu collapse" id="service2" style="list-style-type: none;">
                      <li style="list-style: none;"><%= link_to( "Lista Impiegati",profiles_listimp_path)  %></li>
                      <li style="list-style: none;"><%= link_to( "Aggiungi Impiegato",profiles_aggimp_path)  %></li>
                      <li style="list-style: none;"><%= link_to( "Rimuovi Impiegato",profiles_rimimp_path)  %></li>
                      <li style="list-style: none;"><%= link_to( "Elimina Utente",profiles_bannauser_path)  %></li>
                     </ul>
                    </li>
                <% end%>
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <i class="fa fa-car fa-lg ml-3"><%= link_to "Info Sviluppatori", profiles_infosviluppatori_path %></i>  
                    </li>
                 <li>
                  <i class="fa fa-users fa-lg ml-3"><%= link_to( "Logout",destroy_user_session_path,method: :delete)  %></i>
                </li>
            </ul>
     </div>
</div>
</div>
<!-- menu -->

<div class="container-fluid">
<div class="row ">
<div class="col-2 p-0 d-none d-sm-block ">
<div class="nav-side-menu">
    <div class="brand"><h1 style="color:#bd000d;">FitRecps</h1></div>
    <i class="fa fa-bars fa-2x toggle-btn navbar-toggler pb-4" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <i class="fa fa-dashboard fa-lg ml-3"> Homepage</i> 
                </li>
  
                <li data-toggle="collapse"  class="collapsed">
                  <i class="fa fa-globe fa-lg ml-3" style="color:white;"><%= link_to "Ricette ", recipes_path %></i> 
                </li>  
           
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <i class="fa fa-car fa-lg ml-3"><%= link_to "Schede ", cards_path %></i>  
                </li>
              
                 <li>    
                <li data-toggle="collapse" data-target="#service"  class="collapsed">
                <i class="fa fa-globe fa-lg ml-3" >  Profilo</i>
                 
                <ul class="sub-menu collapse" id="service" style="list-style-type: none;">
                  <li style="list-style: none;"><%= link_to( "Le mie schede",profiles_mycards_path,:id=>'Le mie schede')  %></li>
                  <li style="list-style: none;"><%= link_to( "Le mie ricette",profiles_myrecipes_path)  %></li>
                  <li style="list-style: none;"><%= link_to( "Analisi schede",profiles_analisi_cards_path)  %></li>
                  <li style="list-style: none;"><%= link_to( "Analisi ricette",profiles_analisi_recipes_path)  %></li>
                  <li style="list-style: none;"><%= link_to( "Modifica profilo",profiles_myprofile_path)  %></li>
                </ul>
                </li>
                <% if current_user && current_user.admin %> 
                    <li data-toggle="collapse" data-target="#service2" class="collapsed">
                      <i class="fa fa-globe fa-lg ml-3">  Gestione Iscritti</i>
                 
                     <ul class="sub-menu collapse" id="service2" style="list-style-type: none;">
                      <li style="list-style: none;"><%= link_to( "Lista Impiegati",profiles_listimp_path)  %></li>
                      <li style="list-style: none;"><%= link_to( "Aggiungi Impiegato",profiles_aggimp_path)  %></li>
                      <li style="list-style: none;"><%= link_to( "Rimuovi Impiegato",profiles_rimimp_path)  %></li>
                      <li style="list-style: none;"><%= link_to( "Elimina Utente",profiles_bannauser_path)  %></li>
                     </ul>
                    </li>
                <% end%>
                  <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <i class="fa fa-car fa-lg ml-3"><%= link_to "Info Sviluppatori", profiles_infosviluppatori_path %></i>  
                    </li>
                  <li>
                  <i class="fa fa-users fa-lg ml-3"><%= link_to( "Logout",destroy_user_session_path,method: :delete)  %></i>
                </li>
            </ul>
     </div>
</div>

</div>

<!-- TEAM-->
<div class="container pb-5 mt-5" >
  <div class="row mt-5 d-none d-sm-block">
    
      <h3 style="text-align:center;color:#bd000d;"><b>IL TEAM</b></h3>
    
  <div class="row mt-3">
    <div class="col">
      <div class="card"  >
        <%= image_tag ("ivan.jpg"), class: "card-img-top" %>
        <h5 class="card-title"  style="text-align:center;">Ivan Giacomoni</h5>
        <div class="card-body pt-1">
          <p class="card-text"><b>Frontend & Backend Developer</b></p>
          <p class="card-text">E' il Roger Federer della programmazione, ha uno spirito di squadra che non è minimamente paragonabile a quello della sua Inter</p>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card" >  
        <%= image_tag ("daniele.jpg"), class: "card-img-top" %>
        <h5 class="card-title"  style="text-align:center;">Daniele Bufalieri</h5>
        <div class="card-body pt-1">
          <p class="card-text"><b>Frontend & Backend Developer </b></p>
          <p class="card-text">Non so cosa scrivere, ma basti sapere che adesso non ho più tutti quei capelli,la foto risale al 2014 e adesso ho la boccia che mi accompagna ovunque vado </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" >     
        <%= image_tag ("mario.jpg"), class: "card-img-top" %>
        <h5 class="card-title"  style="text-align:center;">Mario Cavaiola</h5>
        <div class="card-body pt-1">
          <p class="card-text"><b>Frontend & Backend Developer </b></p>
          <p class="card-text">E' il supereroe del team, si sacrifica per tutti neanche fosse Mario della saga omonima. Unica pecca che lo ha marchiato? La zona rossa </p>
        </div>
      </div>
    </div>
   
  </div>
  
    </div>
</div>





</body>
</html>