<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body style="background-color:#333;">
<div class="navbar navbar-expand-lg-md-sm" style="background-color:#23282e;">
 
    <h1 style="color:#bd000d;">FitRecps</h1>
   
</div>

<div class="container">
    <div class="row">
    <span class="text-white"><%= link_to "< Torna alle ricette", recipes_path %></span>
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5 text-white" style="background-color:rgba(51, 51, 51, 0.4);border-color:#bd000d;">
          <div class="card-body" style="text-align:center;">
          <h2>Modifica ricetta </h2>
        <%= form_with url: recipe_url(@recipe) ,model: @recipe, method: :patch, local: true do |form| %>
  
        <!--  NOME  -->

        <div class="field">
            <%= form.label :nome %>
            <%= form.text_field :nome %>
        </div>

        <!--  INSERISCI IMMAGINE  -->

        <div class="row">
            <div class="col">
                <%= form.label :immagine %>
            </div>
            
            <div class="col">
                <%= form.file_field :immagine %>
            </div>
        
        </div>

        <!--  TIPO  -->

        <div class="field">
            <%= form.label :tipo %>
            <%= form.select :tipo,  ['', 'Antipasto', 'Primo', 'Secondo', 'Contorno', 'Frutta', 'Dolce'] %>
        </div>

        <!--  ALLERGENI  -->

       
           Allergeni 

        <div class="field">
            <%= form.label :arachidi_e_derivati %>
            <%= form.select :arachidi_e_derivati,  ['NO', 'SI'] %>
        </div>

        <div class="field">
            <%= form.label :frutta_a_guscio %>
            <%= form.select :frutta_a_guscio,  ['NO', 'SI'] %>
        </div>

        <div class="field">
            <%= form.label :latte_e_derivati %>
            <%= form.select :latte_e_derivati,  ['NO', 'SI'] %>
        </div>

        <div class="field">
            <%= form.label :molluschi %>
            <%= form.select :molluschi,  ['NO', 'SI'] %>
        </div>

        <div class="field">
            <%= form.label :pesce %>
            <%= form.select :pesce,  ['NO', 'SI'] %>
        </div>

        <div class="field">
            <%= form.label :sesamo %>
            <%= form.select :sesamo,  ['NO', 'SI'] %>
        </div>

        <div class="field">
            <%= form.label :soia %>
            <%= form.select :soia,  ['NO', 'SI'] %>
        </div>

        <div class="field">
            <%= form.label :crostacei %>
            <%= form.select :crostacei,  ['NO', 'SI'] %>
        </div>

        <div class="field">
            <%= form.label :glutine %>
            <%= form.select :glutine,  ['NO', 'SI'] %>
        </div>

        <div class="field">
            <%= form.label :lupini %>
            <%= form.select :lupini,  ['NO', 'SI'] %>
        </div>

        <div class="field">
            <%= form.label :senape %>
            <%= form.select :senape,  ['NO', 'SI'] %>
        </div>

        <div class="field">
            <%= form.label :sedano %>
            <%= form.select :sedano,  ['NO', 'SI'] %>
        </div>

        <div class="field">
            <%= form.label :anidride_solforosa_e_solfiti %>
            <%= form.select :anidride_solforosa_e_solfiti,  ['NO', 'SI'] %>
        </div>

        <div class="field">
            <%= form.label :uova_e_derivati %>
            <%= form.select :uova_e_derivati,  ['NO', 'SI'] %>
        </div>


        <!--  INGREDIENTI  -->

        <div class="field mt-2">
            <%= form.label :ingredienti %>
            <%= form.text_area :ingredienti %>
        </div>

        <!--  PROCEDIMENTO  -->

        <div class="field" style="margin-right:21px">
            <%= form.label :procedimento %>
            <%= form.text_area :procedimento %>
        </div>

        <!--  MACRONUTRIENTI  -->

        <div class="field" style="margin-left:40px">
            <%= form.label :energia %>
            <%= form.number_field :energia %>
        </div>

        <div class="field mt-1" style="margin-left:13px">
            <%= form.label :carboidrati %>
            <%= form.number_field :carboidrati %>
        </div>

        <div class="field mt-1" style="margin-left:50px">
            <%= form.label :grassi %>
            <%= form.number_field :grassi %>
        </div>

        <div class="field mt-1" style="margin-left:33px">
            <%= form.label :proteine %>
            <%= form.number_field :proteine %>
        </div>

        <div class="field mt-1" style="margin-left:58px">
            <%= form.label :fibre %>
            <%= form.number_field :fibre %>
        </div>

        <div class="field mt-1" style="margin-left:53px">
            <%= form.label :sodio %>
            <%= form.number_field :sodio %>
        </div>

        <!--  LINK VIDEO TUTORIAL  -->

        <div class="field mt-1" style="margin-left:39px">
            <%= form.label :video_tutorial %>
            <%= form.text_field :video_tutorial %> 
        </div>

        <!--  BOTTONE SAVE  -->
    
        <div class="actions mt-1">
            <%= form.submit %>
        </div>
        

<% end %>

          

          </div>
        </div>
      </div>
    </div>
  </div>

</body >

</html>