<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body style="background-color:#333;">
<div class="navbar navbar-expand-lg-md-sm " style="background-color:#23282e;">
 
    <h1 style="color:#bd000d;">FitRecps  </h1>
   
</div>
<div class="container">
    <div class="row">
    <span class="text-white"><%= link_to "< Torna alle schede", cards_path %></span>
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5 " style="border-color:#bd000d;">
          <div class="card-body" style="text-align:center;">
          <h2  >Inserisci nuova scheda </h2>
        <div class="container">
        <%= form_with url: cards_path ,model: @card, local: true do |form| %>

        <div class="row">
        <div class="col">
        <%= form.label :path %>
        </div>
         <div class="col">
        <%= form.file_field :path ,id: "path",required: true %>
        </div>
        </div>

        <div class="row">
        <div class="col">
        <%= form.label :durata %>
        </div>
        <div class="col">
        <%= form.text_field :durata,id: "durata" ,required: true %>
        </div>
        </div>

        <div class="row">
        <div class="col">
        <%= form.label :zona %>
        </div>
        <div class="col">
        <%= form.text_field :zona ,id: "zona",required: true %>
        </div>
        </div>

        <div class="row">
        <div class="col">
        <%= form.label :categoria%>
        </div>
        <div class="col">
        <%= form.select :categoria,  ['crossfit','body building','calisthenics','sala pesi'] ,id: "categoria",required: true %>
        </div>
        </div>

        <div class="row">
        <div class="col">
          <%= form.label :esercizi %>
        </div>
        <div class="col">
          <%= form.text_area :esercizi,id: "esercizi" ,required: true %>
        </div>
        </div>

         <div class="row">
         <div class="col">
          <%= form.label :energia%>
          </div>
          <div class="col">
          <%= form.number_field :energia,id: "energia" ,required: true %>
          </div>
        </div>

        <div class="row">
        <div class="col">
          <%= form.label :tutorial %>
        </div>
        <div class="col">
          <%= form.text_field :tutorial ,id: "tutorial",required: true %>
        </div>
        </div>

  <div class="actions">
    <%= form.submit "Save"%>
  </div>
<% end %>
</div>

          

          </div>
        </div>
      </div>
    </div>
  </div>

</body >

</html>