<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body style="background-color:#333;">
<div class="navbar navbar-expand-lg-md-sm " style="background-color:#23282e;">
 
    <h1 style="color:#bd000d;">FitRecps  </h1>
   
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5 text-white" style="background-color:rgba(51, 51, 51, 0.4);border-color:#bd000d;">
          <div class="card-body" style="text-align:center;">
          <h2 >Inserisci nuova scheda </h2>
        <%= form_with url: cards_path ,model: @card, local: true do |form| %>
  

        <div class="field">
        <%= form.label :durata %>
        <%= form.text_field :durata %>
        </div>

        <div class="field">
        <%= form.label :zona %>
        <%= form.text_field :zona %>
        </div>

        <div class="field">
        <%= form.label :categoria %>
        <%= form.select :categoria,  ['crossfit','body building','calisthenics','sala pesi'] %>
        </div>

        <div class="field">
          <%= form.label :esercizi%>
          <%= form.text_field :esercizi %>
        </div>

        <div class="field">
          <%= form.label :tutorial %>
          <%= form.text_area :tutorial %>
        </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

          

          </div>
        </div>
      </div>
    </div>
  </div>

</body >

</html>